---
import Layout from "../layouts/Layout.astro";
import Card from "@/components/Card.astro";
---

<Layout title="Welcome to Astro.">
	<div>
		<Card title="Card 1" body="This is the body of card 1" href="/card1" />
		<Card title="Card 1" body="This is the body of card 1" href="/card1" />
		<Card title="Card 1" body="This is the body of card 1" href="/card1" />
		<Card title="Card 1" body="This is the body of card 1" href="/card1" />
		<Card title="Card 1" body="This is the body of card 1" href="/card1" />
	</div>
</Layout>

<style>
	h1 {
		color: orange;
	}
	div {
		margin: auto;
		display: grid;
		place-content: center;
		/* quiero que haya un grid de tres columnas en una pantalla grande y de una en un movil */
		@media (min-width: 768px) {
			grid-template-columns: repeat(3, 1fr);
		}

		gap: 1rem;
	}
</style>
