<div>esto es el footer</div>

<style>
  div {
    border: solid 2px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
  }
</style>
