<div>
  <h1>Moni_Gifts</h1>
  <span>comprar</span>
</div>

<style>
  div {
    border: solid 2px green;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vh;
  }
  h1 {
    color: orange;
    font-size: small;
  }
</style>
